:root {
  --main-bgcolor: #cfcec8;
  --secondarycolor: #2b331c;
  --heading-fontfamily: "Unbounded", cursive;
  --default-fontfamily: "Poppins", sans-serif;
}
body {
  max-width: auto;
  font-family: var(--default-fontfamily);
  transition: all 150ms ease-in-out;
}
h1 {
  font-size: 60px;
  font-family: var(--heading-fontfamily);
}
.hero {
  padding-top: 150px;
  text-align: center;
  background-color: var(--main-bgcolor);
  /*  background-image: url("../img/0bf67a139449057.62cacc99e3346.png"); */
}

.hero p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
h2 {
  font-family: var(--heading-fontfamily);
  font-size: 20px;
  font-weight: 100;
  line-height: 2;
}
h3 {
  font-family: var(--heading-fontfamily);
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
}
nav li {
  display: inline;
  color: var(--main-bgcolor);
  margin-right: 20px;
  line-height: 76px;
}

nav a {
  text-decoration: none;
  color: var(--main-bgcolor);
}
nav a:hover,
nav li.active a {
  color: var(--main-bgcolor);
  text-decoration: overline;
}
.navibar {
  background: var(--secondarycolor);
  padding-right: 30px;
}
.logo {
  max-width: 100px;
  margin: 30px 60px;
}

.btn-branding {
  background: var(--secondarycolor);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  margin: 40px;
}
.btn-branding:hover {
  background: var(--secondarycolor);
  color: white;
  box-shadow: 0px 0px 10px 4px white;
}

.btn-branding-out {
  color: var(--secondarycolor);
  border: 1px solid var(--secondarycolor);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-out:hover {
  box-shadow: 0px 0px 5px var(--secondarycolor);
}
.sample-site-1 h2 {
  font-family: var(--heading-fontfamily);
  font-size: 30px;
}
.project-desription {
  padding: 0px 50px;
}
.content-conteiner {
  padding: 50px 100px;
}

.content-conteiner p {
  font-size: 15px;
}
.content-conteiner .btn-branding {
  margin: 0;
}
.photo {
  max-width: 500px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 1.4;
  }
  .sample-site-1 h2 {
    font-size: 20px;
    text-align: center;
  }
  .btn-branding-out {
    display: block;
    margin: 0 auto;
  }
  .content-conteiner {
    padding: 50px 50px;
  }
  .logo {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .content-conteiner {
    text-align: center;
  }
}
